<div id="battle_wizard_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Боевой маг
        <h2 class="orange">
            Сиенна Фуеганасус
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Sienna Fuegonasus/battle wizard/Portrait_sienna_battlewizard.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:40c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Безрассудная поспешность
            <p>
            <ul>
                <li>Перезарядка увеличивает скорость зарядки заклинаний на 30%.</li>
            </ul>
            <p class="orange">
                Пиромантический всплеск
            </p>
            <ul>
                <li>Увеличивает урон от дальнобойных заклинаний на 10%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Огненная походка
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Sienna Fuegonasus/battle wizard/Battle_wizard_fire_walk.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Сиенна телепортируется вперед, оставляя за собой огненный след, который держится в течение 6 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Спокойствие
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Sienna Fuegonasus/battle wizard/Battle_wizard_tranquility.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Отсутствие заклинаний в течение 6 секунд увеличивает скорость снижения перегрева на 200%.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/1.webp">
                <h3 class="orange">
                    Сбить с толку
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/2.webp">
                <h3 class="orange">
                    Похититель искр
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/3.webp">
                <h3 class="orange">
                    Опаленные пламенем
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/4.webp">
                <h3 class="orange">
                    Вулканическая сила
                </h3>
                <p class="talent_text">
                    Полная зарядка заклинания увеличивает его силу на 50,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/5.webp">
                <h3 class="orange">
                    Голодное пламя
                </h3>
                <p class="talent_text">
                    Урон от горения со временем увеличивается на 150,0%. Весь несгораемый урон уменьшается на 30,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/6.webp">
                <h3 class="orange">
                    Затяжное пламя
                </h3>
                <p class="talent_text">
                    Эффекты горения Сиенны теперь действуют до тех пор, пока пораженный враг не умрет. Эффекты горения не суммируются.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/7.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/8.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/9.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/10.webp">
                <h3 class="orange">
                    Поразительное спокойствие
                </h3>
                <p class="talent_text">
                    Время восстановления «Спокойствия» уменьшено до 3 секунд. 

                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/11.webp">
                <h3 class="orange">
                    Смена каналов
                </h3>
                <p class="talent_text">
                    Когда активно «Спокойствие», время заряда Сиенны в дальнем бою сокращается на 40,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/12.webp">
                <h3 class="orange">
                    По центру
                </h3>
                <p class="talent_text">
                    Увеличивает эффект испарения «Спокойствия» на 100,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/13.webp">
                <h3 class="orange">
                    Зольный щит
                </h3>
                <p class="talent_text">
                    Поджигание врага снижает получаемый урон на 10,0% на 5 секунд. Суммируется до 3 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/14.webp">
                <h3 class="orange">
                    Огонь из пепла 
                </h3>
                <p class="talent_text">
                    Убийство горящего врага сокращает время восстановления способности «Огненная прогулка» на 3%. Время восстановления 0,5 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/15.webp">
                <h3 class="orange">
                    Тотальное самосожжение
                </h3>
                <p class="talent_text">
                    Поражение 4 или более врагов одной атакой увеличивает скорость атаки на 15,0% на 5 секунд.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/10.webp">
                <h3 class="orange">
                    Ускорение Воланса
                </h3>
                <p class="talent_text">
                    Уменьшает время восстановления способности «Огненная походка» на 30,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/16.webp">
                <h3 class="orange">
                    Бабах!
                </h3>
                <p class="talent_text">
                    Радиус взрыва и урон от горения увеличены. Огненный след не остается.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/battle wizard/talents/17.webp">
                <h3 class="orange">
                    Выгорание
                </h3>
                <p class="talent_text">
                    "Огненную походку" можно активировать во второй раз в пределах 10 секунд.
                </p>
            </div>
        </div>
    </div>
</div>