<div id="bounty_hunter_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Охотник за головами
        <h2 class="orange">
            Виктор Зальцпаер
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Victor Saltzpyre/Bounty hunter/Portrait_saltzpyre_bountyhunter.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:70c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Подсумки для патронов
            <p>
            <ul>
                <li>Увеличивает вместимость боеприпасов на 50%.</li>
            </ul>
            <p class="orange">
                Быстрая перезарядка
            </p>
            <ul>
                <li>Увеличивает скорость перезарядки на 15%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Мощный заряд
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Victor Saltzpyre/bounty hunter/Bounty_hunter_locked_and_loaded.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Виктор выпускает мощный выстрел, насквозь пробивающий врагов, и десять более слабых выстрелов в виде конуса.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Благословенные выстрелы
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Victor Saltzpyre/bounty hunter/Bounty_hunter_blessed_shots.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Гарантированный критический удар каждые 10 секунд в дальнем бою.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-01.webp">
                <h3 class="orange">
                    Кровь ради денег
                </h3>
                <p class="talent_text">
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-02.webp">
                <h3 class="orange">
                    Десятинщик
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-03.webp">
                <h3 class="orange">
                    Казначей
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-04.webp">
                <h3 class="orange">
                    Открытые раны
                </h3>
                <p class="talent_text">
                    При критических попаданиях враги получают увеличенный на 20% урон в течение 15 секунд. Не суммируется с аналогичными эффектами.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-05.webp">
                <h3 class="orange">
                    Стальное крещендо
                </h3>
                <p class="talent_text">
                    Сделав последний выстрел, Виктор увеличивает скорость атаки на 15,0% и силу на 15,0% на 15 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-06.webp">
                <h3 class="orange">
                    Огнестрельный снаряд
                </h3>
                <p class="talent_text">
                    Размер магазина для оружия дальнего боя увеличивает уровень силы дальнего боя на 1,0% за каждый доступный боеприпас.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-07.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-08.webp">
                <h3 class="orange">
                    Ассасин
                </h3>
                <p class="talent_text">
                    Наносите на 20% больше урона ошеломленным противникам. Каждое попадание по ошеломленному противнику добавляет еще один счетчик ошеломления. Выстрелы в голову и критические попадания вместо этого наносят 40% бонусного урона, как и удары по врагам, на которых наложено более одного эффекта ошеломления.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-10.webp">
                <h3 class="orange">
                    Благословенный бой
                </h3>
                <p class="talent_text">
                    Удары в ближнем бою наносят до 6 следующих ударов в дальнем бою на 15,0% больше урона. Удары дальнего боя наносят до 6 следующих ударов ближнего боя на 15,0% больше урона. Убийства в ближнем бою сбрасывают кулдаун Благословенных выстрелов.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-11.webp">
                <h3 class="orange">
                    Жестокая фортуна
                </h3>
                <p class="talent_text">
                    Уменьшает время действия "Благословенных выстрелов" до 6 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-12.webp">
                <h3 class="orange">
                    Награда
                </h3>
                <p class="talent_text">
                    Выстрелы под действием Благословенных выстрелов не расходуют боеприпасы.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-13.webp">
                <h3 class="orange">
                    Разъярить толпу
                </h3>
                <p class="talent_text">
                    Критические удары на расстоянии дают Виктору и его союзникам 10,0% скорости передвижения на 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-14.webp">
                <h3 class="orange">
                    Найденные боеприпасы
                </h3>
                <p class="talent_text">
                    Убийство элиты при отсутствии боеприпасов восстанавливает 20% от максимального количества патронов. Убийства в ближнем бою перезаряжают 1 патрон в дальнобойное оружие Виктора.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-15.webp">
                <h3 class="orange">
                    Хорошо выполненная работа
                </h3>
                <p class="talent_text">
                    Убийство элитного или особого врага дает бафф снижения урона на 1,0%, складывающийся до 30 раз. Действует до конца миссии или до смерти.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-16.webp">
                <h3 class="orange">
                    Справедливая награда
                </h3>
                <p class="talent_text">
                    Критические удары снижают время действия мощного заряда на 20%. Может срабатывать только раз в 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-17.webp">
                <h3 class="orange">
                    Двухзарядный
                </h3>
                <p class="talent_text">
                    Модифицирует пистолет Виктора так, чтобы он выпускал две мощные пули по прямой. Выстрел в голову с помощью этой атаки сокращает время перезарядки мощного заряда на 40 %. Каждая пуля может спровоцировать срабатывание этого таланта, то есть он может дать 80 % снижения, если враг не погибнет только от одной из пуль.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/bounty hunter/talents/BH-Talent-18.webp">
                <h3 class="orange">
                    Неприцельный выстрел
                </h3>
                <p class="talent_text">
                    Модификация бокового оружия Виктора, позволяющая стрелять двумя взрывами проникающих в щит дробинок в разрушительном конусе. Каждое убийство с помощью взрыва увеличивает количество дробинок в следующем взрыве, максимум до 20. Этот бафф сбрасывается каждый раз, когда вы используете ульт, если только все гранулы не попали во врага. Виктор также получает 25-процентное сокращение времени действия.
                </p>
            </div>
        </div>
    </div>
</div>