<div id="foot_knight_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Рыцарь-пехотинец
        <h2 class="orange">
            Маркус Крубер
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Markus Kruber/Foot knight/Portrait_kruber_footknight.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:30c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Стойкость Таала
            <p>
            <ul>
                <li>Дает дополнительный щит выносливости.</li>
            </ul>
            <p class="orange">
                Нет мужества - нет славы
            </p>
            <ul>
                <li>Уменьшает получаемый урон на 10%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Доблестный рывок
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Markus Kruber/Foot Knight/Foot_knight_valiant_charge.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Маркус бросается вперед, врезаясь во врагов и отбрасывая их назад.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Защитное присутствие
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Markus Kruber/Foot Knight/Foot_knight_protective_presence.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Аура, снижающая получаемый урон на 15%.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:0%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-01.webp">
                <h3 class="orange">
                    Отвали, урод!
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-02.webp">
                <h3 class="orange">
                    Кровавая неудержимость!
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-03.webp">
                <h3 class="orange">
                    Собрание тамплиеров
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-04.webp">
                <h3 class="orange">
                    Ошеломляющая сила
                </h3>
                <p class="talent_text">
                    Увеличивает силу выведения из равновесия на 35%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-05.webp">
                <h3 class="orange">
                    Получай!
                </h3>
                <p class="talent_text">
                    Выведение из равновесия элитного противника увеличивает его 
                    силу на 15% на 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-06.webp">
                <h3 class="orange">
                    очиститель толпы
                </h3>
                <p class="talent_text">
                    Если Толкнуть противника, то скорость атаки возрастет на 15% на 3 секунды.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-08.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-10.webp">
                <h3 class="orange">
                    Скала Рейкланда
                </h3>
                <p class="talent_text">
                    Диаметр Защитного присутствия удваивается, а также 
                    дает снижение стоимости блока на 20%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-11.webp">
                <h3 class="orange">
                    Это же чертова работа в команде!
                </h3>
                <p class="talent_text">
                    Увеличивает снижение урона от "Защитного присутствия" 
                    на 5% для каждого ближайшего союзника.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-12.webp">
                <h3 class="orange">
                    Товарищи по оружию
                </h3>
                <p class="talent_text">
                    Крубер получает 10% увеличения силы. Ближайший союзник Крубера 
                    получает 50,0% снижения урона и 10,0% увеличения силы. 
                    Пассивная аура от "Защитного присутствия" больше не действует на союзников.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-13.webp">
                <h3 class="orange">
                    Время для героев
                </h3>
                <p class="talent_text">
                    Сбрасывает перезарядку навыка "Доблестный рывок", когда
                    союзник выведен из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-14.webp">
                <h3 class="orange">
                    Встречный удар
                </h3>
                <p class="talent_text">
                    Блокирование атаки убирает затраты выносливости на отталкивание на 1 сек.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-15.webp">
                <h3 class="orange">
                    Вдохновляющий удар
                </h3>
                <p class="talent_text">
                    Выведение из строя элитного противника ускоряет время перезарядки активного навыка 
                    ближайших союзников на 100% на 0,5 секунды. 
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-16.webp">
                <h3 class="orange">
                    Сквозь боль
                </h3>
                <p class="talent_text">
                    "Доблестный рывок" дает неуязвимость на 3 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-17.webp">
                <h3 class="orange">
                    Таран
                </h3>
                <p class="talent_text">
                    Удваивает ширину действия "Доблестный рывок"
                    и позволяет Круберу пробивать огромных противников.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Foot Knight/talents/FK-Talent-18.webp">
                <h3 class="orange">
                    Бык Остланда!
                </h3>
                <p class="talent_text">
                    За каждого противника, пораженного "Доблестный рывок", Крубер 
                    получает 3,0% скорости атаки на 10 секунд. Стакается до 10 раз.
                </p>
            </div>
        </div>
    </div>
</div>
