<div id="grail_knight_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Рыцарь-грааля
        <h2 class="orange">
            Маркус Крубер
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Markus Kruber/Grail knight/Portrait_kruber_grailknight.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:40c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Рыцарский вызов
            <p>
            <ul>
                <li>Увеличение на +25% урона первому противнику, пораженному каждой атакой.</li>
            </ul>
            <p class="orange">
                Жажда славы
            </p>
            <ul>
                <li>Увеличивает скорость передвижения на 10%.</li>
            </ul>
            <p class="orange">
                Бастион Бретоннии
            </p>
            <ul>
                <li>Маркус может использовать щиты, чтобы блокировать атаки огнмета.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Благословенный клинок
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Markus Kruber/Grail knight/GK-skill.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Маркус использует благословенный клинок и обрушивает его с огромной силой, поражая всех злых существ, 
                    оказавшихся на его пути, и нанося им огромный урон.
                </p>
            </div>
        </div>
    <div style="margin-top: -13.5%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Поручение леди
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Markus Kruber/Grail knight/GK-passive.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Команда получает 2 случайных задания ("Обязанности"), после выполнения которых она постоянно получает бонус ("Бенисон"). 
                Некоторые задания имеют более сложные условия в зависимости от уровня сложности.
            </p>
        </div>
    </div>
    <h1 class="orange">
        Поручения
    </h1>
    <div class="grailtask">
        <div class="grail">
            <h3 class="orange">
                Уничтожить элиту
            </h3>
            <img src="static/img/Markus Kruber/Grail knight/bonuses/GK-Benison-Power.webp">
                <p class="talent_text">
                    +10% Уровень силы
                </p>
        </div>
        <div class="grail">
            <h3 class="orange">
                Уничтожить специалистов
            </h3>
            <img src="static/img/Markus Kruber/Grail knight/bonuses/GK-Benison-AS.webp">
                <p class="talent_text">
                    +5% Скорости атаки
                </p>
        </div>
        <div class="grail">
            <h3 class="orange">
                Уничтожить монстров
            </h3>
            <img src="static/img/Markus Kruber/Grail knight/bonuses/GK-Benison-CDR.webp">
                <p class="talent_text">
                    +10% Перезарядки активного умения
                </p>
        </div>
        <div class="grail">
            <h3 class="orange">
                Найти фолиант
            </h3>
            <img src="static/img/Markus Kruber/Grail knight/bonuses/GK-Benison-DR.webp" style="margin-top:15%;">
                <p class="talent_text">
                    +10% Снижения урона
                </p>
        </div>
        <div class="grail">
            <h3 class="orange">
                Найти гримуар
            </h3>
            <img src="static/img/Markus Kruber/Grail knight/bonuses/GK-Benison-HR.webp" style="margin-top:15%;">
                <p class="talent_text">
                    Восстановление здоровья
                </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:0%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-01.webp">
                <h3 class="orange">
                    Щедрость леди
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-02.webp">
                <h3 class="orange">
                    Гнев леди
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-03.webp">
                <h3 class="orange">
                    Дар Грааля
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-04.webp">
                <h3 class="orange">
                    Добродетель идеала
                </h3>
                <p class="talent_text">
                    Убийство врагов повышает уровень силы на 10% на 10 секунд. Складывается до 3 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-05.webp">
                <h3 class="orange">
                    Добродетель рыцарского темперамента
                </h3>
                <p class="talent_text">
                    Критические удары мгновенно убивают врагов, если их текущее здоровье меньше, 
                    чем в 4 раза больше урона, нанесенного критическим ударом. Половинный эффект против лордов и монстров.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-06.webp">
                <h3 class="orange">
                    Добродетель героизма
                </h3>
                <p class="talent_text">
                    Уровень силы заряженных атак увеличен на 25%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-08.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-10.webp">
                <h3 class="orange">
                    Добродетель долга
                </h3>
                <p class="talent_text">
                Благосклонность леди дает дополнительный квест.     
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-11.webp">
                <h3 class="orange">
                    Добродетель чистоты
                </h3>
                <p class="talent_text">
                    Увеличивает силу благословений, получаемых в награду
                    за выполнение квеста, на 50%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-12.webp">
                <h3 class="orange">
                    Добродетель кающегося
                </h3>
                <p class="talent_text">
                    Теперь у команды есть дополнительное, повторяющееся задание. Это задание всегда "Убить врагов", 
                    которое выполняется только при использовании этого таланта. Как и в других заданиях, 
                    их количество меняется в зависимости от сложности. По завершении Маркус получит зелье силы, и задание будет сброшено. 
                    Если Маркус уже носит с собой зелье или гримуар, зелье силы будет сброшено на землю.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-13.webp">
                <h3 class="orange">
                    Добродетель стоицизма
                </h3>
                <p class="talent_text">
                    50% получаемого урона восстанавливается в виде 
                    временного здоровья через 5 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-14.webp">
                <h3 class="orange">
                    Добродетель дисциплины
                </h3>
                <p class="talent_text">
                    Своевременные блоки увеличивают уровень силы на 20% на 6 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-15.webp">
                <h3 class="orange">
                    Добродетель поединка
                </h3>
                <p class="talent_text">
                    Увеличивает дугу толчка и регенерацию выносливости на 30%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-16.webp">
                <h3 class="orange">
                    Добродетель отваги
                </h3>
                <p class="talent_text">
                    Добавляет вторую колющую атаку 
                    к "Благословенный клинок", наносящую разрушительный урон по одной цели.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-17.webp">
                <h3 class="orange">
                    Добродетель стремительного рыцаря
                </h3>
                <p class="talent_text">
                    Убийство врага "Благословенным клинком" увеличивает скорость передвижения на 35% на 15 сек.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Grail knight/talents/GK-Talent-18.webp">
                <h3 class="orange">
                    Добродетель уверенности
                </h3>
                <p class="talent_text">
                    Изменяет "Благословенный клинок" на горизонтальный удар, 
                    который пробивает и ошеломляет нескольких врагов.
                </p>
            </div>
        </div>
    </div>
</div>
