<div id="handmaiden_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Прислужница
        <h2 class="orange">
            Кериллиан
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Kerillian/handmaiden/Portrait_kerillian_handmaiden.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:125hp
                    </p>
                    <p>
                        Перезарядка способности:20c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Возобновление
            <p>
            <ul>
                <li>Аура, увеличивающая скорость регенерации выносливости на 100%.</li>
            </ul>
            <p class="orange">
                Благодеяние Ариэля
            </p>
            <ul>
                <li>Увеличивает скорость возрождения Кериллиан на 50%. Когда Кериллиан оживляет союзников, она восстанавливает им 20 здоровья.</li>
            </ul>
            <p class="orange">
                Дубовый страж (не указан)
            </p>
            <ul>
                <li>
                    Кериллиан получает 1 дополнительную выносливость (1/2 щита).</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Рывок
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Kerillian/handmaiden/dash.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Кериллиан стремительно мчится вперед, проходя сквозь врагов.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Танец времен года
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Kerillian/handmaiden/The_Dance_of_Seasons_new.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Увеличивает дистанцию уклонения на 15%.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-01.webp">
                <h3 class="orange">
                    Эхо духа
                </h3>
                <p class="talent_text">
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше. 
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-02.webp">
                <h3 class="orange">
                    Боевое благословение
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-03.webp">
                <h3 class="orange">
                    Вечное цветение
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-04.webp">
                <h3 class="orange">
                    Сосредоточенный дух
                </h3>
                <p class="talent_text">
                    Если в течение 10 секунд не получать урона, сила Кериллиана увеличивается на 15,0%. Сбрасывается при получении урона.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-05.webp">
                <h3 class="orange">
                    Стойкость дуба
                </h3>
                <p class="talent_text">
                    Увеличивает шанс критического удара на 5,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-06.webp">
                <h3 class="orange">
                    Расторопность Асрая
                </h3>
                <p class="talent_text">
                    Блокирование атаки или отталкивание противника дает следующим двум ударам 30% скорости атаки и 10% силы. Бафф действует неограниченно, но не складывается. Бафф накладывается на любую атаку ближнего или дальнего боя, которая попадает по врагу. Однако бафф накладывается только при ударе врага атакой ближнего боя или при ударе спеца Скейвена атакой дальнего боя.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-07.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-08.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-10.webp">
                <h3 class="orange">
                    Стойкость ивы
                </h3>
                <p class="talent_text">
                    Уклонение дает 5,0% скорости атаки на 6 секунд. Стакается до 3 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-11.webp">
                <h3 class="orange">
                    Танец клинков
                </h3>
                <p class="talent_text">
                    Уклонение при блокировании увеличивает дальность уклонения на 20%. Уклонение без блокирования увеличивает силу Кериллиана на 10% на 2 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-12.webp">
                <h3 class="orange">
                    Призрачная прогулка
                </h3>
                <p class="talent_text">
                    Уклонения Кериллиана теперь могут проходить сквозь врагов.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-13.webp">
                <h3 class="orange">
                    Сердце дуба
                </h3>
                <p class="talent_text">
                    Увеличивает максимальное здоровье на 15,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-14.webp">
                <h3 class="orange">
                    Стойкость березы
                </h3>
                <p class="talent_text">
                    Снижает стоимость блока на 30,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-15.webp">
                <h3 class="orange">
                    Колчан изобилия
                </h3>
                <p class="talent_text">
                    Увеличивает количество боеприпасов на 40,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-16.webp">
                <h3 class="orange">
                    Дар Ладриэль
                </h3>
                <p class="talent_text">
                    Кериллиан исчезает из поля зрения врагов на 2 секунды после использования Рывка.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-17.webp">
                <h3 class="orange">
                    Танцор с клинком
                </h3>
                <p class="talent_text">
                    Пронзая врага, он вызывает кровотечение, наносящее значительный урон с течением времени.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/handmaiden/talents/hand-Talent-18.webp">
                <h3 class="orange">
                    Сила от боли
                </h3>
                <p class="talent_text">
                    За каждого врага, пораженного рывком, Кериллиан получает 5,0% шанса критического удара в течение 15 секунд. Стакается до 5 раз.
                </p>
            </div>
        </div>
    </div>
</div>