<div id="huntsman_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Охотник
        <h2 class="orange">
            Маркус Крубер
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Markus Kruber/Huntsman/Portrait_kruber_huntsman.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:90c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Метка браконьера
            <p>
            <ul>
                <li>Удваивает эффективную дальность стрельбы для оружия дальнего боя.</li>
            </ul>
            <p class="orange">
                Обнаружение слабостей
            </p>
            <ul>
                <li>Увеличивает шанс критической атаки на 5% для себя и всех ближайших союзников(у всех персонажей встроенный шанс 5% и того 10%).</li>
            </ul>
            <p class="orange">
                Глубокие карманы
            </p>
            <ul>
                <li>Увеличивает максимальное количество боеприпасов на 30%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Крадущийся охотник
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Markus Kruber/Huntsman/Huntsman_active.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Маркус исчезает из поля зрения и получает следующие эффекты на 
                    6 секунд. Атака прекращает действие невидимости, но не других 
                    эффектов. -5% дальности уклонения, -10% скорости передвижения, 
                    увеличенный урон от оружия дальнего боя, оружие дальнего боя не 
                    расходует патроны, +40% скорости перезарядки, увеличенный зум.
                </p>
            </div>
        </div>
    <div style="margin-top: -23%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Чего добру пропадать
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Markus Kruber/Huntsman/Huntsman_passive.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Попадание в голову в дальнем бою восстанавливает 1 единицу боеприпасов
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-01.webp">
                <h3 class="orange">
                    Вкус победы
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-02.webp">
                <h3 class="orange">
                    Добыча охотника
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-03.webp">
                <h3 class="orange">
                    Трофей для Таала
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-04.webp">
                <h3 class="orange">
                    Продолжаем в том же духе
                </h3>
                <p class="talent_text">
                    Каждое третье дальнее попадание приводит к тому, 
                    что следующий выстрел не расходует патроны.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-05.webp">
                <h3 class="orange">
                    Заставьте их истечь кровью
                </h3>
                <p class="talent_text">
                    При критических попаданиях враги получают увеличенный на 20% урон в 
                    течение 15 секунд. Не суммируется с аналогичными эффектами.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-06.webp">
                <h3 class="orange">
                    Прямо в глаз!
                </h3>
                <p class="talent_text">
                    Бонусный урон от выстрела в голову увеличен на 50%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-08.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-10.webp">
                <h3 class="orange">
                    Охотничье предвкушение
                </h3>
                <p class="talent_text">
                    Стрельба в голову увеличивает скорость перезарядки на 20% на 5 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-11.webp">
                <h3 class="orange">
                    Легче лёгкого
                </h3>
                <p class="talent_text">
                    После выстрела в голову Маркус получает увеличенный на 25% шанс критического
                    попадания до следующего критического попадания.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-12.webp">
                <h3 class="orange">
                    Всплеск энтузиазма
                </h3>
                <p class="talent_text">
                    Выстрел в голову или критический удар дает 2 временных здоровья. Критические 
                    выстрелы в голову удваивают эффект. Эффект срабатывает один раз за атаку.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-13.webp">
                <h3 class="orange">
                    Умелый мастер
                </h3>
                <p class="talent_text">
                    Убийство специалиста восстанавливает 10% боеприпасов.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-14.webp">
                <h3 class="orange">
                    Толстая шкура
                </h3>
                <p class="talent_text">
                    Убийство специалиста или элитного противника снижает получаемый урон на 10%. 
                    Складывается до 4 раза. Получение удара снимает один стак.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-15.webp">
                <h3 class="orange">
                    Длинноногий
                </h3>
                <p class="talent_text">
                    Увеличивает скорость передвижения на 10%. 
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-16.webp">
                <h3 class="orange">
                    Маскировка
                </h3>
                <p class="talent_text">
                    Уменьшает перезарядку навыка "Крадущийся охотник" на 30%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-17.webp">
                <h3 class="orange">
                    Скрытые удары
                </h3>
                <p class="talent_text">
                    Атака под действием "Крадущийся охотник" не выводят из невидимости.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Huntsman/talents/Hunt-Talent-18.webp">
                <h3 class="orange">
                    Опустив голову и спрятавшись
                </h3>
                <p class="talent_text">
                    Увеличивает время действия "Крадущийся охотник" до 10 секунд
                </p>
            </div>
        </div>
    </div>
</div>