<div id="ironbreaker_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Железолом
        <h2 class="orange">
            Бардин Горексон
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Bardin Goreksson/ironbreaker/Portrait_bardin_ironbreaker.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:120c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Гномья ковка
            <p>
            <ul>
                <li>Уменьшает получаемый урон на 30%.</li>
            </ul>
            <p class="orange">
                Доути
            </p>
            <ul>
                <li>Дает дополнительный щит выносливости.</li>
            </ul>
            <p class="orange">
                Устойчивость
            </p>
            <ul>
                <li>
                    Уменьшает длительность оглушения после попадания под атаку на 50%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Непробиваемый
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Bardin Goreksson/ironbreaker/Ironbreaker_impenetrable.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Бардин вызывает на себя всех ближайших врагов размером с человека, получает -50% урона (стакается с Гномья-ковка) и снижает стоимость блока на 50% в течение следующих 10 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -16%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Броня Громрила
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Bardin Goreksson/ironbreaker/Ironbreaker_gromril_armour.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Полностью поглощает один удар каждые 20 секунд. Это не влияет на урон от перешрева вентиляции или урон от падения.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-01.webp">
                <h3 class="orange">
                    Камнелом
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-02.webp">
                <h3 class="orange">
                    Затаенная обида
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-03.webp">
                <h3 class="orange">
                    Хранитель очага
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-04.webp">
                <h3 class="orange">
                    Под давлением
                </h3>
                <p class="talent_text">
                    Урон от огня Дрейка увеличивается с -80,0% до 120,0%, а скорость атаки дальнего боя снижается со 100,0% до -50,0% в зависимости от перезарядки. Убирает замедление при перезарядке.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-05.webp">
                <h3 class="orange">
                    Кровь Гримнира
                </h3>
                <p class="talent_text">
                    Каждый ближайший союзник увеличивает силу на 5%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-06.webp">
                <h3 class="orange">
                    Рунный щит
                </h3>
                <p class="talent_text">
                    Блокирование атаки дает Бардину и его союзникам 2% силы ближнего боя на 6 секунд. Складывается до 5 раз.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-08.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-10.webp">
                <h3 class="orange">
                    Месть
                </h3>
                <p class="talent_text">
                    Периодически генерируются стаки (до 5 максимум) "Восходящего гнева" каждые 7 секунд, пока активен Громрил. Когда Громрил потерян, скорость атаки увеличивается на 8,0% за стак "Восходящего гнева" в течение 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-11.webp">
                <h3 class="orange">
                    Проклятие Громрила
                </h3>
                <p class="talent_text">
                    Когда с вас снимают броню Громрила, все враги поблизости отбрасываются назад.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-12.webp">
                <h3 class="orange">
                    Туннельный боец
                </h3>
                <p class="talent_text">
                    Уменьшает время действия "Громриловой брони" до 10 секунд.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-13.webp">
                <h3 class="orange">
                    Защита Дави
                </h3>
                <p class="talent_text">
                    Когда защита Бардина сломлена, есть 50,0% шанс мгновенно восстановить всю выносливость.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-14.webp">
                <h3 class="orange">
                    Катящаяся гора
                </h3>
                <p class="talent_text">
                    Убийство врагов атаками ближнего боя при полной выносливости сокращает время восстановления "Непробиваемый" на 2%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-15.webp">
                <h3 class="orange">
                    Ритм шахтера
                </h3>
                <p class="talent_text">
                    После нанесения заряженной атаки Бардин восстанавливает выносливость на 40,0% быстрее в течение 2 сек.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-16.webp">
                <h3 class="orange">
                    Клятва Дренгбарази
                </h3>
                <p class="talent_text">
                    Непробиваемый увеличивает силу ближайших союзников на 20,0% на 10 сек.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-17.webp">
                <h3 class="orange">
                    Ой! Ваззок!
                </h3>
                <p class="talent_text">
                    Эффект "Непробиваемый" теперь заставляет монстров атаковать Бардина.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/ironbreaker/talents/IB-Talent-18.webp">
                <h3 class="orange">
                    Громкая насмешка
                </h3>
                <p class="talent_text">
                    Увеличивает радиус действия таунта "Непробиваемый" на 50%. Увеличивает продолжительность действия "Непробиваемого" до 15 секунд.
                </p>
            </div>
        </div>
    </div>
</div>