<div id="mercenary_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Наемник
        <h2 class="orange">
            Маркус Крубер
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Markus Kruber/Mercenary/Portrait_kruber_mercenary.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:125hp
                    </p>
                    <p>
                        Перезарядка способности:90c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Удар в уязвимое место
            <p>
            <ul>
                <li>Маркус прорубает на 33% больше врагов, округляя в меньшую сторону.</li>
            </ul>
            <p class="orange">
                Шутки в сторону
            </p>
            <ul>
                <li>Увеличивает шанс критической атаки на 5%(у всех персонажей встроенный шанс 5% и того 10%).</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Подъем боевого духа
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Markus Kruber/Mercenary/Mercenary_morale_boost.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Маркус дает ближайшим союзникам 25 единиц временного здоровья и 
                    выводит из равновесия ближайших врагов.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Удары в темпе
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Markus Kruber/Mercenary/Mercenary_paced_strikes.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Попадание по 3 врагам одним ударом повышает скорость атаки на 10% на 6 секунд.
            </p>
        </div>
    </div>
    <h1 class="orange">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-01.webp">
                <h3 class="orange">
                    Строевая подготовка
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-02.webp">
                <h3 class="orange">
                    Гордость наемника
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-03.webp">
                <h3 class="orange">
                    Приказ капитана
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-04.webp">
                <h3 class="orange">
                    Чем больше, тем веселее!
                </h3>
                <p class="talent_text">
                    Увеличивает силу атаки на 5% за каждого противника поблизости.
                    Эффект складывается до 5 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-05.webp">
                <h3 class="orange">
                    Четвертователь
                </h3>
                <p class="talent_text">
                    Увеличивает силу прорубания на 50%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-06.webp">
                <h3 class="orange">
                    Опека Хельборга
                </h3>
                <p class="talent_text">
                    Каждые 5 ударов дают гарантированный критический удар. 
                    Критические удары больше не могут происходить случайным образом.
                    (т.е. каждый 6 удар наносит критический урон)
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-07.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-08.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-10.webp">
                <h3 class="orange">
                    Рейкландский жнец
                </h3>
                <p class="talent_text">
                    Увеличивает силу на 15% когда активен эффект "Удары в темпе"
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-11.webp">
                <h3 class="orange">
                    Улучшенная тренировка
                </h3>
                <p class="talent_text">
                    Эффект "Удары в темпе" увеличивает скорость атаки на 20%.Теперь необходимо
                    попасть по 4 врагам одной атакой.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-12.webp">
                <h3 class="orange">
                    Бей сообща
                </h3>
                <p class="talent_text">
                    Эффект "Удары в темпе" теперь распространяется на ближайших союзников
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-13.webp">
                <h3 class="orange">
                    На безопасном расстоянии
                </h3>
                <p class="talent_text">
                    Увеличивает дальность уворота на 20%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-14.webp">
                <h3 class="orange">
                    Барьер из клинков
                </h3>
                <p class="talent_text">
                    Уменьшает получаемый урон на 25%, когда 
                    активен эффект "Удары в темпе".
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-15.webp">
                <h3 class="orange">
                    Поставки с черного рынка
                </h3>
                <p class="talent_text">
                    Увеличивает максимальное количество боеприпасов на 30%. 
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-16.webp">
                <h3 class="orange">
                    Отход
                </h3>
                <p class="talent_text">
                    Эффект "Подъем боевого духа" также снижает получаемый 
                    союзниками урон на 25% на 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-17.webp">
                <h3 class="orange">
                    Готовность к действиям
                </h3>
                <p class="talent_text">
                    Снижает перезарядку активного навыка "Подъем боевого духа" на 20%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Markus Kruber/Mercenary/talents/Merc-Talent-18.webp">
                <h3 class="orange">
                    Вставайте, товарищи!
                </h3>
                <p class="talent_text">
                    Активный навык "Подъем боевого духа" также оживляет лежащих союзников.
                </p>
            </div>
        </div>
    </div>
</div>


