<div id="unchained_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Некромант
        <h2 class="orange">
            Сиенна Фуеганасус
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Sienna Fuegonasus/necromancer/port.png">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:110c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Владычица смерти
            <p>
            <ul>
                <li>Сиенна может приказать своим слугам атаковать или защищаться. Она также может освободить их, чтобы выпустить избыточный заряд.</li>
            </ul>
            <p class="orange">
                Ворующая жизнь
            </p>
            <ul>
                <li>Убийство врага дает 2% крита на 4 секунды. Максимальное количество стаков - 5.</li>
            </ul>
            <p class="orange">
                Холодное пламя
            </p>
            <ul>
                <li>Эффекты Сиенны, наносящие урон в течение времени, действуют на 100% дольше.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Воскресить мертвецов
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Sienna Fuegonasus/necromancer/Raise_Dead.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Сиенна поднимает роту воинов-скелетов, чтобы те проредили ряды противника.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Зловещее проклятие Нагаша
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Sienna Fuegonasus/necromancer/Malediction_of_Nagash.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Пламя Сиенны теперь горит холодным, неземным светом, который лишает врагов сил, заставляя их получать 20 % дополнительного урона от Сиенны и ее слуг.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/1.webp">
                <h3 class="orange">
                    Труповод
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/2.webp">
                <h3 class="orange">
                    Торговец смертью
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/3.webp">
                <h3 class="orange">
                    Высасывание жизни
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/4.webp">
                <h3 class="orange">
                    Танец Макабра Ванхеля
                </h3>
                <p class="talent_text">
                    12% скорости атаки, если живы 4 скелета.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/5.webp">
                <h3 class="orange">
                    Посланник смерти
                </h3>
                <p class="talent_text">
                    Произнесение заклинаний дает 5% силы дальнего боя на 6 секунд. Максимальное количество стаков - 5.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/6.webp">
                <h3 class="orange">
                    Жатва
                </h3>
                <p class="talent_text">
                    Критические атаки имеют 25% силы и неограниченное количество рассечений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/7.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/8.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/9.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/10.webp">
                <h3 class="orange">
                    Проклятая кровь
                </h3>
                <p class="talent_text">
                    Критические атаки по врагам, пораженным проклятием Нагаша, вызывают у них взрыв, наносящий урон ближайшим противникам в зависимости от урона атаки.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/11.webp">
                <h3 class="orange">
                    Жатва душ
                </h3>
                <p class="talent_text">
                    Злое проклятие Нагаша вырывает души у умирающих целей. Если собрать 8 душ, следующая атака будет гарантированно критической.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/12.webp">
                <h3 class="orange">
                    Иссушающее прикосновение
                </h3>
                <p class="talent_text">
                    После появления скелета все атаки Сиенны в течение следующих 15 секунд поджигают врагов, нанося им урон с течением времени.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/13.webp">
                <h3 class="orange">
                    Высасывание духа
                </h3>
                <p class="talent_text">
                    Убийство элитного противника восстанавливает 15% перезарядки.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/14.webp">
                <h3 class="orange">
                    Проклятие нежити
                </h3>
                <p class="talent_text">
                    воскрешение мертвецов снижает урон, наносимый Сиенне, на 80% в течение следующих 3 ударов.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/15.webp">
                <h3 class="orange">
                    Потерянные души
                </h3>
                <p class="talent_text">
                    Выброс 20% перегрева высвобождает душу, которая крадет здоровье у ближайшего врага, восстанавливая 2 временных здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/10.webp">
                <h3 class="orange">
                    Армия мертвых
                </h3>
                <p class="talent_text">
                    Теперь при поднятии мертвецов скелеты остаются на 20 секунд, прежде чем разложиться.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/16.webp">
                <h3 class="orange">
                    Клинки Барроу
                </h3>
                <p class="talent_text">
                    Скелеты теперь носят два проклятых клинка. Когда они подняты и атакуют, то поджигают врагов, нанося урон с течением времени.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus//necromancer/talents/17.webp">
                <h3 class="orange">
                    Ужасный сенешаль
                </h3>
                <p class="talent_text">
                    Увеличивает здоровье и урон скелета на 50%. Команда "Атака" теперь приказывает атаковать в рывке. Команда "Защититься" может быть отдана параллельно.
                </p>
            </div>
        </div>
    </div>
</div>