<div id="slayer_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Инженер-изгой
        <h2 class="orange">
            Бардин Горексон
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Bardin Goreksson/outcast engineer/Portrait_bardin_outcastengineer.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:60c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Оружейник
            <p>
            <ul>
                <li>Увеличивает максимальное количество патронов на 50%.</li>
            </ul>
            <p class="orange">
                Наводчик
            </p>
            <ul>
                <li>Увеличивает силу дальнобойности ближайших союзников на 10%.</li>
            </ul>
            <p class="orange">
                Пояс с инструментами
            </p>
            <ul>
                <li>Бардин может одновременно носить до 3 бомб (любого типа). Нажатие клавишу бомбы, чтобы переключить их.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Коленчатая пушка с паровым двигателем (Mk II)
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Bardin Goreksson/outcast engineer/OE-skill.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Выпустите на волю страшную огневую мощь собственного творения Бардина. Выстрелы уменьшают полоску способности. Накопленное давление теряется при выстреле.
                </p>
            </div>
        </div>
    <div style="margin-top: -13.5%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Создать давление
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Bardin Goreksson/outcast engineer/OE-passive.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Удержание перезарядки при использовании паровой пушки создает давление. Каждая стак "Давления" действует 12 секунд и постепенно восстанавливает запас способностей. Складывается до 5 раз.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-01.webp">
                <h3 class="orange">
                    Решимость инженера
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-02.webp">
                <h3 class="orange">
                    Энтузиазм Моргрима
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-03.webp">
                <h3 class="orange">
                    Мешочек с хорошими вещами
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-04.webp">
                <h3 class="orange">
                    Главные выстрелы
                </h3>
                <p class="talent_text">
                    Каждые 4 атаки дальнего боя гарантируют критическое попадание.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-05.webp">
                <h3 class="orange">
                    Бронебойные пули
                </h3>
                <p class="talent_text">
                    Невзрывные атаки дальнего боя пробивают 1 дополнительного врага
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-06.webp">
                <h3 class="orange">
                    Комбинированное оружие
                </h3>
                <p class="talent_text">
                    Сила ближнего боя увеличивается на 10%. За каждые 5 убийств в ближнем бою следующая атака Бардина в дальнем бою дает 15% силы в дальнем бою на 10 сек.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-08.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-10.webp">
                <h3 class="orange">
                    Полный напор пара
                </h3>
                <p class="talent_text">
                    Достигнув 5 стаков "Давления", Бардин получает 15,0% силы на 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-11.webp">
                <h3 class="orange">
                    Экспериментальные паровые конденсаторы
                </h3>
                <p class="talent_text">
                    Стеки давления больше не удаляются при достижении полного заряда или при стрельбе из паровой пушки.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-12.webp">
                <h3 class="orange">
                    Превосходные прокладки
                </h3>
                <p class="talent_text">
                    Давление не теряется со временем. Каждый стак Давления дает 2,5% скорости атаки. Максимальное количество стаков уменьшено на 1.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-13.webp">
                <h3 class="orange">
                    Абляционная броня
                </h3>
                <p class="talent_text">
                    Каждые 5 секунд Бардин получает стак снижения урона. Стакается до 5 раз. Каждый стак снижает получаемый урон на 5%. Получение урона снимает стак.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-14.webp">
                <h3 class="orange">
                    Бомбардир
                </h3>
                <p class="talent_text">
                    Бомбы Бардина приобретают эффект как обычных, так и зажигательных бомб.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-15.webp">
                <h3 class="orange">
                    Сила поршня
                </h3>
                <p class="talent_text">
                    Каждые 15 секунд Бардин получает бафф, дающий огромный стаггер к его следующей заряженной атаке.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-16.webp">
                <h3 class="orange">
                    Громриловый выстрел
                </h3>
                <p class="talent_text">
                    Уменьшает скорострельность паровой пушки, но увеличивает урон и бронебойность.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-17.webp">
                <h3 class="orange">
                    Компрессорная камера со связью
                </h3>
                <p class="talent_text">
                    Паровая пушка (Mk II) начинает стрельбу с полной скоростью, а не с тем, что требует времени на разгон.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/outcast engineer/talents/OE-Talent-18.webp">
                <h3 class="orange">
                    Инновационные контейнеры для патронов
                </h3>
                <p class="talent_text">
                    Увеличивает запас способности Бардина на 50%. Убийство спеца заставляет паровой пушку не расходовать запас способности в течение следующих 4 сек.
                </p>
            </div>
        </div>
    </div>
</div>