<div id="pyromancer_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Пироман
        <h2 class="orange">
            Сиенна Фуеганасус
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Sienna Fuegonasus/pyromancer/Portrait_sienna_pyromancer.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:60c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Пылающий фокус
            <p>
            <ul>
                <li>Увеличивает урон от дальнего боя на 10%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Пылающая голова
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Sienna Fuegonasus/pyromancer/Pyromancer_homing_firespear.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Сиенна выпускает огненный снаряд, который ищет врагов.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Критическая масса
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Sienna Fuegonasus/pyromancer/Pyromancer_critical_mass.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Шанс крита +6% за 6 перезарядок. Стакается до 5 раз до 30% макс.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/1.webp">
                <h3 class="orange">
                    Искра Смита
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/2.webp">
                <h3 class="orange">
                    Связующий дух
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/3.webp">
                <h3 class="orange">
                    Огненная стойкость
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/4.webp">
                <h3 class="orange">
                    На огненном ветре 
                </h3>
                <p class="talent_text">
                    Увеличивает уровень силы дальнего боя на 1,0% каждую 1 секунду до максимального количества стаков 20. При достижении максимального количества стаков эффект уменьшается, а затем начинается заново.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/5.webp">
                <h3 class="orange">
                    Военная наука
                </h3>
                <p class="talent_text">
                    Увеличивает скорость атаки на 5,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/6.webp">
                <h3 class="orange">
                    Заклинанье духа
                </h3>
                <p class="talent_text">
                    Увеличивает шанс критического удара на 10,0% при уровне здоровья выше 80,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/7.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/8.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/9.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/10.webp">
                <h3 class="orange">
                    Смертельное распыление 
                </h3>
                <p class="talent_text">
                    Убийство особого противника предотвращает возникновение перегрева при касте ваших заклинаний на 10 секунд. 
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/11.webp">
                <h3 class="orange">
                    На гране войны
                </h3>
                <p class="talent_text">
                    Увеличивает силу дальнего боя на 15% при перегреве 75% или выше.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/12.webp">
                <h3 class="orange">
                    Едина с пламенем
                </h3>
                <p class="talent_text">
                    «Критическая масса» также увеличивает скорость атаки на 2,0% за каждые 6 перегрева и суммируется до 5 раз.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/13.webp">
                <h3 class="orange">
                    Перекачивание души
                </h3>
                <p class="talent_text">
                    Снижает получаемый урон на 10% в течение 10 секунд после убийства особого или элитного врага. Суммируется до 3 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/14.webp">
                <h3 class="orange">
                    Доктрина Воланса
                </h3>
                <p class="talent_text">
                    Убирает замедление при перегреве
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/15.webp">
                <h3 class="orange">
                    Пламенный флот
                </h3>
                <p class="talent_text">
                    Критические удары увеличивают скорость передвижения на 5,0% в течение 10 секунд. Суммируется до 3 раз.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/10.webp">
                <h3 class="orange">
                    Выхлоп
                </h3>
                <p class="talent_text">
                    "Пылающая голова" также удаляет весь перегрев.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/16.webp">
                <h3 class="orange">
                    Связанное пламя
                </h3>
                <p class="talent_text">
                    При использовании «Пылающей головы» дает 35 временных единиц здоровья.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/pyromancer/talents/17.webp">
                <h3 class="orange">
                    Пылающее эхо
                </h3>
                <p class="talent_text">
                    Критические удары «Горящей головы» уменьшают время восстановления навыка.
                </p>
            </div>
        </div>
    </div>
</div>