<div id="shade_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Тень
        <h2 class="orange">
            Кериллиан
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Kerillian/shade/Portrait_kerillian_shade.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:70c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Кинжал во тьме
            <p>
            <ul>
                <li>Атаки ближнего боя из невидимости всегда наносят критический урон.</li>
            </ul>
            <p class="orange">
                Размытие
            </p>
            <ul>
                <li>Парирование атаки и быстрое уклонение дают Кериллиану незаметность на короткий период.
                </li>
            </ul>
            <p class="orange">
                Убийственная доблесть
            </p>
            <ul>
                <li>Заряженные критические удары в спину мгновенно убивают врагов размером с человека.</li>
            </ul>
            <p class="orange">
                Мрачная судьба
            </p>
            <ul>
                <li>Увеличивает шанс критического удара на 5%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Проникновение
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Kerillian/shade/Shade_infiltrate.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Кериллиан становится необнаружимой, может проходить сквозь врагов и наносить им повышенный урон в ближнем бою. Действует в течение 5 секунд или пока не нанесет урон.
                </p>
            </div>
        </div>
    <div style="margin-top: -13.5%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Клинок ассасина
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Kerillian/shade/Shade_murderous_prowess.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Удваивает урон при атаке противников сзади атаками ближнего боя.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-01.webp">
                <h3 class="orange">
                    Мрачная бодрость
                </h3>
                <p class="talent_text">
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше. 
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-02.webp">
                <h3 class="orange">
                    Жажда Кхайна
                </h3>
                <p class="talent_text">
                    Убийственные удары ближнего боя восстанавливают временное здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-03.webp">
                <h3 class="orange">
                    Кровное родство
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-04.webp">
                <h3 class="orange">
                    Жестокость
                </h3>
                <p class="talent_text">     
                    Увеличивает бонус к урону от критического удара на 50,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-05.webp">
                <h3 class="orange">
                    Обнажие слабости
                </h3>
                <p class="talent_text">
                    Увеличивает урон, наносимый отравленным или кровоточащим противникам, на 20,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-06.webp">
                <h3 class="orange">
                    Изысканная охотница
                </h3>
                <p class="talent_text">                    
                    Выстрел в голову увеличивает бонус к урону от выстрела в голову на 10,0% на 10 секунд. Стакается до 10 раз.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-07.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-08.webp">
                <h3 class="orange">
                    Ассасин
                </h3>
                <p class="talent_text">
                    Наносите на 20% больше урона ошеломленным противникам. Каждое попадание по ошеломленному противнику добавляет еще один счетчик ошеломления. Выстрелы в голову и критические попадания вместо этого наносят 40% бонусного урона, как и удары по врагам, на которых наложено более одного эффекта ошеломления.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-10.webp">
                <h3 class="orange">
                    Цепной убийца
                </h3>
                <p class="talent_text">
                    Последовательные заряженные удары в спину увеличивают урон от ударов в спину на 25% на 5 секунд. Этот эффект может складываться до 2 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-11.webp">
                <h3 class="orange">
                    Сосредоточенное истребление
                </h3>
                <p class="talent_text">
                    Убийство противника ударом в спину снижает его кулдаун на 3 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-12.webp">
                <h3 class="orange">
                    Кровопускатель
                </h3>
                <p class="talent_text">
                    Удар в спину возвращает 1 болт или стрелу. 2 секунды промедления.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-13.webp">
                <h3 class="orange">
                    Пьющий кровь
                </h3>
                <p class="talent_text">
                    Критические попадания снижают получаемый урон на 20,0% на 5 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-14.webp">
                <h3 class="orange">
                    Убийца на пружинном каблуке
                </h3>
                <p class="talent_text">
                    Критические попадания увеличивают скорость передвижения на 20,0% на 5 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-15.webp">
                <h3 class="orange">
                    Гладиатор
                </h3>
                <p class="talent_text">
                    Увеличивает скорость передвижения на 10,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-16.webp">
                <h3 class="orange">
                    Мерцающий удар
                </h3>
                <p class="talent_text">
                    Выход из невидимости дает Кериллиан незаметность на 3 секунды. Убийство элитного или особого врага продлевает этот эффект на 1 секунду.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-17.webp">
                <h3 class="orange">
                    Голодный ветер
                </h3>
                <p class="talent_text">
                    Выходя из невидимости, Кериллиан получает 10% скорости передвижения и 15% силы, а также возможность проходить сквозь врагов в течение 10 секунд. Infiltrate больше не дает бонусного урона.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/shade/talents/shade-Talent-18.webp">
                <h3 class="orange">
                    Плащ боли
                </h3>
                <p class="talent_text">
                    После окончания первого проникновения начинается второе (и последнее) проникновение.
                </p>
            </div>
        </div>
    </div>
</div>