<div id="sister_of_the_thorn_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Сестра шипа
        <h2 class="orange">
            Кериллиан
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Kerillian/sister of the thorn/Portrait_SisterOfTheThorn.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:125hp
                    </p>
                    <p>
                        Перезарядка способности:40c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Черные ядовитые клинки
            <p>
            <ul>
                <li>Атаки ближнего боя наносят яд, который наносит урон и увеличивает получаемый урон на 12% на 10 секунд.</li>
            </ul>
            <p class="orange">
                Пища для пиявок
            </p>
            <ul>
                <li>Когда другой член партии получает временное здоровье при полном здоровье, Кериллиан получает временное здоровье вместо него.</li>
            </ul>
            <p class="orange">
                Присутствие щедрот
            </p>
            <ul>
                <li>Все исцеления, получаемые партией, увеличиваются на 25%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Терновник
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Kerillian/sister of the thorn/Passive_SisterOfTheThorn.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Кериллиан создает Торновую стену, которая препятствует движению противника. Терновая стена действует 6 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Скопление радиантов
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Kerillian/sister of the thorn/CareerSkill_SisterOfTheThorn.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Кериллиан получает Лучезарность (бесплатное использование карьерного навыка) каждые 60 секунд.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_05_01.webp">
                <h3 class="orange">
                    Плетеная нить
                </h3>
                <p class="talent_text">      
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_05_02.webp">
                <h3 class="orange">
                    Боевое благословение
                </h3>
                <p class="talent_text">
                    Удары ближнего боя восстанавливают временное здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_05_03.webp">
                <h3 class="orange">
                    Вечное цветение
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_10_01.webp">
                <h3 class="orange">
                    Всплеск злобы
                </h3>
                <p class="talent_text">
                    При превышении 90% здоровья Керилиан увеличивает скорость атаки на 15%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_10_02.webp">
                <h3 class="orange">
                    Восторг Атарти
                </h3>
                <p class="talent_text">
                    Удары в ближнем бою по отравленным целям вызывают у них кровотечение.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_10_03.webp">
                <h3 class="orange">
                    Злоба Бриара
                </h3>
                <p class="talent_text">
                    Кастование терновика дает Кериллиан 2 критических удара.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_15_01.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_15_02.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_15_03.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_20_01.webp">
                <h3 class="orange">
                    Накаливание
                </h3>
                <p class="talent_text">
                    Сияние может складываться 2 раза.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_20_02.webp">
                <h3 class="orange">
                    Связанный дух
                </h3>
                <p class="talent_text">
                    Уменьшает время действия "Сияния" на 50%, получение урона возвращает время действия на 2 секунды назад.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_20_03.webp">
                <h3 class="orange">
                    Лучезарное наследство
                </h3>
                <p class="talent_text">
                    Потребление сияния дает Кериллиану и ближайшим союзникам 15% силы и 5% шанса критического удара на 10 секунд.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_25_01.webp">
                <h3 class="orange">
                    Рекурсивный токсин
                </h3>
                <p class="talent_text">
                    Черные ядовитые клинки теперь могут складываться 2 раза.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_25_02.webp">
                <h3 class="orange">
                    Затяжной Черный яд
                </h3>
                <p class="talent_text">
                    Критические удары накладывают черные ядовитые клинки на врагов рядом с целью.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_25_03.webp">
                <h3 class="orange">
                    Отталкивание
                </h3>
                <p class="talent_text">
                    Толчок при полной выносливости увеличивает силу и дальность толчка на 100%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_30_01.webp">
                <h3 class="orange">
                    Заросли железной коры
                </h3>
                <p class="talent_text">
                    Увеличьте ширину Терновой стены и ее продолжительность до 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_30_02.webp">
                <h3 class="orange">
                    Заросли танглграсса
                </h3>
                <p class="talent_text">
                    Колючие лианы теперь вырываются из Кериллиана и направляются к цели. Попавшие под удар враги перетаскиваются в целевую область.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/sister of the thorn/talents/Talent_SisterOfTheThorn_30_03.webp">
                <h3 class="orange">
                    Заросли черного яда
                </h3>
                <p class="talent_text">
                    Вместо этого терновик заставляет корни вырываться из земли, ошеломляя врагов и применяя к ним черные ядовитые клинки.
                </p>
            </div>
        </div>
    </div>
</div>