<div id="slayer_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Истребитель
        <h2 class="orange">
            Бардин Горексон
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Bardin Goreksson/slayer/Portrait_bardin_slayer.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:125hp
                    </p>
                    <p>
                        Перезарядка способности:40c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Путь резни
            <p>
            <ul>
                <li>Увеличивает скорость атаки на 7,5%.</li>
            </ul>
            <p class="orange">
                Дренги Грит
            </p>
            <ul>
                <li>Заряженные атаки не могут быть прерваны уроном.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Прыжок
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Bardin Goreksson/slayer/Slayer_leap.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Бардин прыгает вперед, чтобы оглушить цель, и получает увеличенную на 30% скорость атаки на 10 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Охотник за трофеями
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Bardin Goreksson/slayer/Slayer_trophy_hunter.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Попадание по врагу дает стакающийся бафф урона. Увеличивает урон на 10%, стакается 3 раза. Бафф действует 2 секунды.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-01.webp">
                <h3 class="orange">
                    Искатель судеб
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-02.webp">
                <h3 class="orange">
                    Ярость истребителя
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-03.webp">
                <h3 class="orange">
                    Заразительная стойкость
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-04.webp">
                <h3 class="orange">
                    Тысяча порезов
                </h3>
                <p class="talent_text">
                    Одноручное оружие в обоих слотах увеличивает скорость атаки на 10,0%. Двойное оружие считается одноручным.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-05.webp">
                <h3 class="orange">
                    Раскалыватель черепов
                </h3>
                <p class="talent_text">
                    Владение двуручным оружием в обоих слотах увеличивает силу на 15,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-06.webp">
                <h3 class="orange">
                    Рубить и резать
                </h3>
                <p class="talent_text">
                    Увеличивает шанс критического удара на 5%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-07.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-08.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-10.webp">
                <h3 class="orange">
                    Нетерпение
                </h3>
                <p class="talent_text">
                    Каждый стак "Трофейного охотника" увеличивает скорость передвижения на 10,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-11.webp">
                <h3 class="orange">
                    Высшее число
                </h3>
                <p class="talent_text">
                    Увеличивает максимальное количество стаков Охотник за трофеями на 1.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-12.webp">
                <h3 class="orange">
                    Всплеск адреналина
                </h3>
                <p class="talent_text">
                    Прыжок перезаряжается в 3 раза быстрее, пока Охотник за трофеями имеет максимальное количество стаков.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-13.webp">
                <h3 class="orange">
                    Невосприимчивость к боли
                </h3>
                <p class="talent_text">
                    Урон, получаемый от элитных врагов или монстров, снижается до 10 единиц или половины от первоначального значения, в зависимости от того, что больше. Применяется после всех остальных модификаторов урона.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-14.webp">
                <h3 class="orange">
                    Сосредоточение Гримнира
                </h3>
                <p class="talent_text">
                    Попадание заряженной атакой по противнику снижает получаемый урон на 40% на 5 сек.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-15.webp">
                <h3 class="orange">
                    Баржа
                </h3>
                <p class="talent_text">
                    Эффективное уклонение отталкивает ближайших мелких врагов с дороги.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-16.webp">
                <h3 class="orange">
                    Хруст!
                </h3>
                <p class="talent_text">
                    Увеличивает эффект ошеломления при приземлении на врагов, используюя прыжок, на 100,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-17.webp">
                <h3 class="orange">
                    Прыжок-Дави
                </h3>
                <p class="talent_text">
                    Увеличивает урон атаки в воздухе во время прыжка на 150,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/slayer/talents/slay-Talent-18.webp">
                <h3 class="orange">
                    Не сбежать
                </h3>
                <p class="talent_text">
                    Бафф скорости атаки от прыжка также увеличивает скорость передвижения на 25,0% на время действия.
                </p>
            </div>
        </div>
    </div>
</div>