<div id="unchained_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Освобожденная
        <h2 class="orange">
            Сиенна Фуеганасус
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Sienna Fuegonasus/unchained/Portrait_sienna_unchained.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:120c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Раб Акши
            <p>
            <ul>
                <li>Нет замедления от перегрева</li>
            </ul>
            <p class="orange">
                Нестабильная сила
            </p>
            <ul>
                <li>Увеличивает силу ближнего боя при высоком перегреве на 60%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Живая бомба
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Sienna Fuegonasus/unchained/Unchained_living_bomb.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Сиенна взрывается, нанося урон окружающим врагам и снимая перегрев.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Магия крови
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Sienna Fuegonasus/unchained/Unchained_blood_magic.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                50% полученного урона переносится на перегрев. Это не влияет на урон от сброса перегрева или урон от падения. Применяется после всех других модификаторов урона.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/1.webp">
                <h3 class="orange">
                    Успокоение души
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/2.webp">
                <h3 class="orange">
                    Безрассудное буйство
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/3.webp">
                <h3 class="orange">
                    Цветение огня
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/4.webp">
                <h3 class="orange">
                    Бешеное пламя
                </h3>
                <p class="talent_text">
                    Увеличивает скорость атаки на 15% при перегреве 50% или выше.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/5.webp">
                <h3 class="orange">
                    Вспышка
                </h3>
                <p class="talent_text">
                    Толчок врага поджигает его, нанося урон с течением времени. При сильных атаках дуга следующего толчка становится на 70,0% шире.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/6.webp">
                <h3 class="orange">
                    Цепная реакция
                </h3>
                <p class="talent_text">
                    У горящих врагов есть небольшой шанс взорваться после смерти.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/7.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/8.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/9.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/10.webp">
                <h3 class="orange">
                    Рассеять
                </h3>
                <p class="talent_text">
                    Стоимость блока снижается на 50,0% при перегреве и блокировании атак, отводящих перегреве. Применяется после других уменьшений стоимости блока. 
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/11.webp">
                <h3 class="orange">
                    Проводник
                </h3>
                <p class="talent_text">
                    Увеличивает скорость снижения перегрева на 30,0% и снижает получаемый от снижения перегрева урон на 50,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/12.webp">
                <h3 class="orange">
                    Онеметь от боли
                </h3>
                <p class="talent_text">
                    Снижает получаемый урон на 5,0% и перезарядку магии крови на 16,6% в течение 15 секунд после сброса перегрева. Стакается 3 раза.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/13.webp">
                <h3 class="orange">
                    Сковывающее пламя
                </h3>
                <p class="talent_text">
                    Горящие враги наносят на 30,0% меньше урона.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/14.webp">
                <h3 class="orange">
                    Оставленная
                </h3>
                <p class="talent_text">
                    Когда Сиенна перегревается, она начинает 4 раза в секунду обменивать 1/20 своего здоровья на 10 % перезарядки способности.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/15.webp">
                <h3 class="orange">
                    Природный талант
                </h3>
                <p class="talent_text">
                    Уменьшает получаемый перегрев на 10,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/10.webp">
                <h3 class="orange">
                    Топливо для огня
                </h3>
                <p class="talent_text">
                    Каждый враг, пораженный "Живой бомбой", увеличивает силу на 5,0% на 15 секунд. Стакается до 5 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/16.webp">
                <h3 class="orange">
                    Дикий огонь
                </h3>
                <p class="talent_text">
                    Живая бомба наделяет Сиенну испепеляющей аурой, которая поджигает ближайших врагов в течение 10 секунд, нанося урон с течением времени. Увеличивает силу стаггера от "Живой бомбы".
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Sienna Fuegonasus/unchained/talents/17.webp">
                <h3 class="orange">
                    Бальзам от бомб
                </h3>
                <p class="talent_text">
                    Живая бомба восстанавливает 30 единиц временного здоровья союзникам.
                </p>
            </div>
        </div>
    </div>
</div>