<div id="veteran_div" class="herocontainer">
    <h1 style="margin-bottom: -2%;">
        Егерь-ветеран
        <h2 class="orange">
            Бардин Горексон
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Bardin Goreksson/Ranger Veteran/Portrait_bardin_veteranranger.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:120c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Заряжен для битвы
            <p>
            <ul>
                <li>Увеличивает максимальное количество боеприпасов на 50%.</li>
            </ul>
            <p class="orange">
                Быстрые руки
            </p>
            <ul>
                <li>Увеличивает скорость перезарядки на 15%.</li>
            </ul>
            <p class="orange">
                Гениальная импровизация
            </p>
            <ul>
                <li>
                    При использовании любых лечебных припасов, зелий или гранат есть 10% шанс не израсходовать предмет.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Выход из боя
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/Ranger_veteran_disengage.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Бардин выпускает дымовую шашку на 10 секунд, которая скрывает его от врагов, пока он остается внутри облака. 
                    Также во время маскировки увеличивается сила атаки в дальнем бою.
                </p>
            </div>
        </div>
    <div style="margin-top: -16%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Выживальщик
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Bardin Goreksson/Ranger Veteran/Ranger_veteran_survivalist.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Каждый раз, когда умирает специалист , Бардин сбрасывает боеприпасы. Он восстанавливает 10 % максимального боезапаса игрока, округленно вниз.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-01.webp">
                <h3 class="orange">
                    Корни уходят вглубь
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-02.webp">
                <h3 class="orange">
                    Рейнджер Жнец
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-03.webp">
                <h3 class="orange">
                    Упорное сердце
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-04.webp">
                <h3 class="orange">
                    Последнее средство
                </h3>
                <p class="talent_text">
                    Когда у Бардина заканчиваются боеприпасы, его сила увеличивается на 25,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-05.webp">
                <h3 class="orange">
                    Мастер импровизации
                </h3>
                <p class="talent_text">
                    Перезарядка оружия сокращает время действия "Выход из боя" на 2 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-06.webp">
                <h3 class="orange">
                    Врагоруб
                </h3>
                <p class="talent_text">
                    Увеличивает скорость атаки на 5,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-07.webp">
                <h3 class="orange">
                    Бастион
                </h3>
                <p class="talent_text">
                    Враги, которых вы вывели из равновесия, получают на 10% больше урона от атак ближнего боя в течение 2 секунд.\
                    Нанесите выведенным из строя врагам на 20% больше урона. 
                    Каждое попадание по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-08.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-10.webp">
                <h3 class="orange">
                    Пьяный драчун
                </h3>
                <p class="talent_text">
                    Убийство специалиста дает 50% шанс выпасть бутылке эля. Выпитый эль дает 3,0% скорости атаки и снижает получаемый урон на 4,0% на 5 минут. Может быть использован 3 раза.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-11.webp">
                <h3 class="orange">
                    Хитрость Грунгни
                </h3>
                <p class="talent_text">
                    Увеличивает количество боеприпасов, восстанавливаемых навыком "Выживальщик", до 30%, с округлением вниз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-12.webp">
                <h3 class="orange">
                    Падальщик
                </h3>
                <p class="talent_text">
                    При убийстве специалиста с вероятностью 20% вместо боеприпасов выпадет зелье или бомба.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-13.webp">
                <h3 class="orange">
                    Никаких доудлингов!
                </h3>
                <p class="talent_text">
                    Увеличивает скорость передвижения на 10,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-14.webp">
                <h3 class="orange">
                    Изобилие
                </h3>
                <p class="talent_text">
                    Бардин получает на 30,0% меньше урона со спины. Когда он попадает в голову, этот бонус распространяется на весь получаемый урон в течение 7 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-15.webp">
                <h3 class="orange">
                    Огненная ярость
                </h3>
                <p class="talent_text">
                    Поражение 2 врагов одной атакой дальнего боя увеличивает скорость следующей перезарядки Бардина на 35,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-16.webp">
                <h3 class="orange">
                    Бодрящие испарения
                </h3>
                <p class="talent_text">
                    Союзники, находящиеся в дыму Бардина, получают 8,0% скорости атаки. Также они получают 3 ед. временного здоровья в секунду.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-17.webp">
                <h3 class="orange">
                    Неожиданный гость
                </h3>
                <p class="talent_text">
                    Скрытность "Выход из боя" не нарушается при выходе за пределы дымового облака.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Bardin Goreksson/Ranger Veteran/talents/RV-Talent-18.webp">
                <h3 class="orange">
                    Прощальный подарок егеря
                </h3>
                <p class="talent_text">
                    Активация "Выход из боя" приводит к тому, что следующая бомба, брошенная Бардином, не расходуется. Не складывается.
                </p>
            </div>
        </div>
    </div>
</div>