<div id="zealot_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Воин-жрец Сигмара
        <h2 class="orange">
            Виктор Зальцпаер
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/Portrait_WarriorPriestOfSigmar.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:60c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Враг Хаоса
            <p>
            <ul>
                <li>30% бонус к силе против брони.</li>
            </ul>
            <p class="orange">
                Несгибаемый
            </p>
            <ul>
                <li>100% сопротивление проклятиям.</li>
            </ul>
            <p class="orange">
                Непоколебимый
            </p>
            <ul>
                <li>Урон, наносимый Зальцпайеру, снижается на 20%. Еще 20% входящего урона наносится Зальцпаеру в течение 3 секунд. Зальцпир не может быть убит уроном, наносимым непоколебимым.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Щит веры
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/CareerSkill_WarriorPriestOfSigmar.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Зальцпаер накладывает на себя или союзника щит, делающий их невосприимчивыми к урону на 5 секунд. По истечении срока действия щит взрывается, нанося урон ближайшим врагам.
                </p>
            </div>
        </div>
    <div style="margin-top: -16%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Праведная ярость
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/Passive_WarriorPriestOfSigmar.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Зальцпаер обретает ярость, когда рядом умирают враги. При 100% ярости он ненадолго входит в состояние праведной ярости, и его атаки поражают противника на 20% от урона оружия. Зальцпаер теряет ярость, находясь вне боя.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_05_01.webp">
                <h3 class="orange">
                    Вечная бдительность
                </h3>
                <p class="talent_text">
                    Выведение врага из равновесия атакой ближнего боя дает временное здоровье. 
                    Здоровье набирается в зависимости от силы выведения врага из строя.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_05_02.webp">
                <h3 class="orange">
                    Истребитель нечестивцев
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_05_03.webp">
                <h3 class="orange">
                    Благословенные руки
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_10_01.webp">
                <h3 class="orange">
                    Неудержимая сила
                </h3>
                <p class="talent_text">
                    Поразив 3 врагов одной атакой, вы уменьшаете стоимость толчка на 4 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_10_02.webp">
                <h3 class="orange">
                    Восходящий суд
                </h3>
                <p class="talent_text">
                    Удары увеличивают силу следующей заряженной атаки на 8%. Максимальное количество стаков - 5.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_10_03.webp">
                <h3 class="orange">
                    Палач Сигмара
                </h3>
                <p class="talent_text">
                    Убийство элитного противника дает 5% шанса критического удара на 12 сек. Максимальное количество стаков - 3.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_15_01.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_15_02.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_15_03.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_20_01.webp">
                <h3 class="orange">
                    Божественное изгнание
                </h3>
                <p class="talent_text">
                    Во время толчка "Праведная ярость" посылает вокруг Виктора святую ударную волну, ошеломляющую ближайших врагов.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_20_02.webp">
                <h3 class="orange">
                    Усиленный удар
                </h3>
                <p class="talent_text">
                    Теперь "Удар" срабатывает через 1 секунду, увеличивает силу стаггера и наносит 40% урона от атаки.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_20_03.webp">
                <h3 class="orange">
                    От ярости, к стойкости.
                </h3>
                <p class="talent_text">
                    Во время убийств "Праведная ярость" восстанавливает здоровье партии в зависимости от здоровья убитого врага.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_25_01.webp">
                <h3 class="orange">
                    Молитва возмездия
                </h3>
                <p class="talent_text">
                    Благословите команду, увеличив на 35% ее критическую силу атаки.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_25_02.webp">
                <h3 class="orange">
                    Молитва могущества
                </h3>
                <p class="talent_text">
                    Благословите команду, увеличив силу стаггеров на 25%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_25_03.webp">
                <h3 class="orange">
                    Молитва выносливости
                </h3>
                <p class="talent_text">
                    Благословите команду, увеличив ее максимальное здоровье на 15%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_30_01.webp">
                <h3 class="orange">
                    Непоколебимое благословение
                </h3>
                <p class="talent_text">
                    Щит веры теперь длится 8 секунд и позволяет цели топтать слабых врагов и применять эффект. Также дает цели иммунитет к дальним ударам (варпфайры, ратлинг-пулеметчики и т. д.).
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_30_02.webp">
                <h3 class="orange">
                    Объединенные молитвой   
                </h3>
                <p class="talent_text">
                    Щит веры всегда действует и на Виктора.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/warrior priest of sigmar/talents/Talent_WarriorPriestOfSigmar_30_03.webp">
                <h3 class="orange">
                    Дар кометы
                </h3>
                <p class="talent_text">
                    Щит веры оживляет и исцеляет на сумму, равную всему урону, полученному в течение 3 сек.
                </p>
            </div>
        </div>
    </div>
</div>