<div id="waystalker_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Рэйнджер
        <h2 class="orange">
            Кериллиан
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Kerillian/waystalker/Portrait_kerillian_waystalker.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:100hp
                    </p>
                    <p>
                        Перезарядка способности:80c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Шторм из стрел
            <p>
            <ul>
                <li>Увеличивает количество патронов на 100%.</li>
            </ul>
            <p class="orange">
                Лук Наблюдателя Пути
            </p>
            <ul>
                <li>Удваивает эффективную дальность стрельбы для оружия дальнего боя.</li>
            </ul>
            <p class="orange">
                Бдения Асрая
            </p>
            <ul>
                <li>
                    Увеличение дальнобойного оружия. По умолчанию привязан к специальному оружию.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Истинный залп
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Kerillian/waystalker/Trueshot_Volley.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Кериллиан выпускает залп стрел, которые настигают врагов на ее пути.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Амаранта
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Kerillian/waystalker/Amaranthe.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Кериллиан восстанавливает 3 ед. здоровья каждые 10 секунд, если у нее меньше половины здоровья.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-01.webp">
                <h3 class="orange">
                    Узы сплетения
                </h3>
                <p class="talent_text">      
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-02.webp">
                <h3 class="orange">
                    Жажда дриад
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-03.webp">
                <h3 class="orange">
                    Благословение Ариэль
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-04.webp">
                <h3 class="orange">
                    Контрольный выстрел
                </h3>
                <p class="talent_text">
                    Убив врага атакой ближнего боя, Кериллиан выпускает дополнительную стрелу при следующей атаке дальнего боя в течение 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-05.webp">
                <h3 class="orange">
                    Зазубренные стрелы
                </h3>
                <p class="talent_text">
                    Обычные стрелы вызывают у врагов кровотечение и наносят дополнительный урон.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-06.webp">
                <h3 class="orange">
                    Усердие Дракиры
                </h3>
                <p class="talent_text">
                    Выстрелы в голову увеличивают скорость атаки на 15,0% на 5 секунд.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-07.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-08.webp">
                <h3 class="orange">
                    Ассасин
                </h3>
                <p class="talent_text">
                    Наносите на 20% больше урона ошеломленным противникам. Каждое попадание по ошеломленному противнику добавляет еще один счетчик ошеломления. Выстрелы в голову и критические попадания вместо этого наносят 40% бонусного урона, как и удары по врагам, на которых наложено более одного эффекта ошеломления.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-10.webp">
                <h3 class="orange">
                    Объятия Иши
                </h3>
                <p class="talent_text">
                    Увеличивает восстанавливаемое Кериллианом здоровье от Амаранты на 50,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-11.webp">
                <h3 class="orange">
                    Стрелы духа
                </h3>
                <p class="talent_text">
                    Амаранта уменьшает время действия истинного залпа на 5,0% каждый тик. Больше не восстанавливает здоровье.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-12.webp">
                <h3 class="orange">
                    Омолаживающий локус
                </h3>
                <p class="talent_text">
                    Амаранта также влияет на других членов партии.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-13.webp">
                <h3 class="orange">
                    Пылкая охотница
                </h3>
                <p class="talent_text">
                    Убийство особого или элитного противника увеличивает скорость передвижения на 15,0% на 10 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-14.webp">
                <h3 class="orange">
                    Рикошет
                </h3>
                <p class="talent_text">
                    Стрелы Кериллиана теперь рикошетят, каждая из них отскакивает до 3 раз или пока не попадет во врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-15.webp">
                <h3 class="orange">
                    Фокус Асрая
                </h3>
                <p class="talent_text">
                    Уменьшает время перезарядки истинного залпа на 20,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-16.webp">
                <h3 class="orange">
                    Пронзительный выстрел
                </h3>
                <p class="talent_text">
                    Истинный залп выпускает один пронзительный выстрел, наносящий большой урон. Выстрел в голову возвращает 100,0% кулдауна.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-17.webp">
                <h3 class="orange">
                    Заряженный лук
                </h3>
                <p class="talent_text">
                    Истинный залп выпускает дополнительную стрелу.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Kerillian/waystalker/talents/WS-Talent-18.webp">
                <h3 class="orange">
                    Награда Курноса
                </h3>
                <p class="talent_text">
                    Убийство особого или элитного врага с помощью истинного залпа восстанавливает 30,0% боеприпасов.
                </p>
            </div>
        </div>
    </div>
</div>