<div id="witch_hunter_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Капитан охотников на ведьм
        <h2 class="orange">
            Виктор Зальцпаер
        </h2>
    </h1>
    <div class="hero">
        <div>
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div>
                    <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/Portrait_saltzpyre_witchhuntercapatain.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:125hp
                    </p>
                    <p>
                        Перезарядка способности:90c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Вечный страж
            <p>
            <ul>
                <li>Легкие атаки в пределах внутреннего угла блока не требуют затрат на блок. "Легкими атаками" считаются любые атаки, на блокирование которых уходит 2 стамины (1 щит) или меньше.</li>
            </ul>
            <p class="orange">
                Убийственный выстрел
            </p>
            <ul>
                <li>Выстрелы в голову с критическим попаданием мгновенно убивают врагов размером с человека.
                </li>
            </ul>
            <p class="orange">
                Сила Сигмара (не указано)
            </p>
            <ul>
                <li>
                    Увеличивает бонусный урон от выстрела в голову на 25%.</li>
            </ul>
            <p class="orange">
                Зачарование Сигмара
            </p>
            <ul>
                <li>Увеличивает шанс критического удара на 5%.</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Враждебность
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/Animosity.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Виктор отталкивает ближайших врагов и увеличивает шанс критического удара у ближайших союзников на 25% на 6 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -11.5%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Охота на ведьм
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/WitchHunt.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">               
                Враги с метками получают дополнительно 20% урона. Не суммируется с аналогичными эффектами. Дебафф может быть наложен любым игроком и влияет на весь урон, получаемый противником. Действует в течение 15 секунд (время действия метки).
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-01.webp">
                <h3 class="orange">
                    Пыл охотника
                </h3>
                <p class="talent_text">
                    Критические удары и выстрелы в голову в ближнем бою восстанавливают 2 временных здоровья. Критические выстрелы в голову восстанавливают в два раза больше. 
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-02.webp">
                <h3 class="orange">
                    Ходячее правосудие
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-03.webp">
                <h3 class="orange">
                    Дисциплинированный
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-04.webp">
                <h3 class="orange">
                    Ответный удар
                </h3>
                <p class="talent_text">     
                    Если блокировать вражескую атаку в тот момент, когда она вот-вот нанесет удар, ваша следующая атака ближнего или дальнего боя в течение 2 секунд будет гарантированно критической.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-05.webp">
                <h3 class="orange">
                    Знак смерти
                </h3>
                <p class="talent_text">
                    Увеличивает бонус к урону от попадания в голову на 50,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-06.webp">
                <h3 class="orange">
                    Свежевание
                </h3>
                <p class="talent_text">                    
                    Враги, пораженные атаками ближнего боя, кровоточат, нанося дополнительный урон.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-07.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-08.webp">
                <h3 class="orange">
                    Ассасин
                </h3>
                <p class="talent_text">
                    Наносите на 20% больше урона ошеломленным противникам. Каждое попадание по ошеломленному противнику добавляет еще один счетчик ошеломления. Выстрелы в голову и критические попадания вместо этого наносят 40% бонусного урона, как и удары по врагам, на которых наложено более одного эффекта ошеломления.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-09.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-10.webp">
                <h3 class="orange">
                    Знания ордена
                </h3>
                <p class="talent_text">              
                    Охота на ведьм наносит врагам дополнительные 5,0% урона.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-11.webp">
                <h3 class="orange">
                    Метка еретика
                </h3>
                <p class="talent_text">
                    Пометка противника увеличивает скорость атаки на 10,0% на 15 секунд.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-12.webp">
                <h3 class="orange">
                    Дикий пыл
                </h3>
                <p class="talent_text">
                    Охота на ведьм увеличивает на 5,0% шанс критического удара для всей партии на 5 секунд, когда умирают враги с меткой.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-13.webp">
                <h3 class="orange">
                    Зачарованная жизнь
                </h3>
                <p class="talent_text">
                    Увеличивает дальность уклонения на 20,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-14.webp">
                <h3 class="orange">
                    Отбрасывание
                </h3>
                <p class="talent_text">
                    Толчок противника увеличивает регенерацию выносливости на 40,0% на 2 секунды.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-15.webp">
                <h3 class="orange">
                    Всегда готов
                </h3>
                <p class="talent_text">
                    Увеличивает максимальное количество боеприпасов на 30,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-16.webp">
                <h3 class="orange">
                    Я буду судить вас всех!
                </h3>
                <p class="talent_text">
                    Применяет "Охоту на ведьм" к врагам, пораженным "Анимусом".
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-17.webp">
                <h3 class="orange">
                    Пылкость
                </h3>
                <p class="talent_text">
                    Враждебность дает Виктору гарантированные критические удары в ближнем бою. Больше не действует на товарищей по команде.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/Witch Hunter Captain/talents/WHC-Talent-18.webp">
                <h3 class="orange">
                    Бесконечная охота
                </h3>
                <p class="talent_text">
                    Поражение 10 или более врагов с помощью Враждебности возвращает 40,0 % кулдауна.
                </p>
            </div>
        </div>
    </div>
</div>