<div id="zealot_div" class="herocontainer">
    <h1 style="margin-bottom: -1%;">
        Фанатик
        <h2 class="orange">
            Виктор Зальцпаер
        </h2>
    </h1>
    <div class="hero">
        <div >
            <p>
                Портрет героя
            </p>
            <div class="hero_inf">
                <div >
                    <img src="static/img/Victor Saltzpyre/zealot/Portrait_saltzpyre_zealot.webp">
                </div>
                <div class="hero_inf_text">
                    <p>
                        Здоровье:150hp
                    </p>
                    <p>
                        Перезарядка способности:120c
                    </p>
                </div>
            </div>
        </div>
        <div class="perks">
            <p style="text-align: center;margin-bottom: 5%;" class="orange">
                Перки
            <p>
            <p class="orange">
                Неустрашимые удары
            <p>
            <ul>
                <li>Тяжелые атаки не могут быть прерваны наносящими урон атаками.</li>
            </ul>
            <p class="orange">
                Железное сердце
            </p>
            <ul>
                <li>Становится неуязвимым на 5 сек. при получении смертельного урона. Перезарядка 2 минуты</li>
            </ul>
        </div>
    </div>
        <p class="orange" style="margin: 0%;">
            Святой пыл
        </p>
        <h2 style="margin: 0%; margin-left: -89%;">
            Активная способность
        </h2>
        <div class="hero_skill">
                <img src="static/img/Victor Saltzpyre/zealot/Holy_Fervour.webp" style="height: 100px; width: 100px;">
            <div class="hero_inf_text">
                <p style="margin:0%">
                    Виктор бросается вперед и получает увеличение скорости атаки на 25% на 5 секунд.
                </p>
            </div>
        </div>
    <div style="margin-top: -11%;">
        <p class="orange" style="margin: 0%; margin-left: 50%;">
            Огненная вера
        </p>
        <h2 style="margin: 0%; margin-left: 12%;">
            Пассивная способность
        </h2>
        <div class="hero_passive">
            <img src="static/img/Victor Saltzpyre/zealot/Fiery_Faith.webp" style="height: 100px; width: 100px;">
        <div class="hero_inf_text">
            <p style="margin:0%">
                Сила увеличивается на 5% за каждые 25 единиц здоровья.
            </p>
        </div>
    </div>
    <h1 class="orange" style="margin-top:13%">
        Таланты
    </h1>
    <div class="talents">
        <h1 class="orange">
            5 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/1.webp">
                <h3 class="orange">
                    Вестник Сигмара
                </h3>
                <p class="talent_text">
                    Нанесение урона нескольким врагам одним ударом оружием 
                    ближнего боя дает временное здоровье. Максимум 5 врагов.
                    (каждый задетый враг дает 1 временное здоровье)
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/2.webp">
                <h3 class="orange">
                    Покайтесь! Покайтесь!
                </h3>
                <p class="talent_text">
                    Убийство врага в ближнем бою восстанавливают временное 
                    здоровье в зависимости от здоровья убитого врага.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/3.webp">
                <h3 class="orange">
                    Купель усердия
                </h3>
                <p class="talent_text">
                    Исцеление себя с помощью аптечки или лечебного зелья также исцеляет 
                    ваших ближайших союзников на 20.0% от их максимального здоровья.
                </p>
            </div>
        </div>
        <h1 class="orange">
            10 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/4.webp">
                <h3 class="orange">
                    Бичевание
                </h3>
                <p class="talent_text">
                    Увеличивает скорость атаки на 10,0%, если у вас меньше 50,0% здоровья. Двойной эффект, если у вас меньше 20,0% здоровья.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/5.webp">
                <h3 class="orange">
                    Сокрушить
                </h3>
                <p class="talent_text">
                    Каждые 5 ударов дают гарантированный критический удар. Критические удары больше не могут происходить случайным образом.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/6.webp">
                <h3 class="orange">
                    Несгибаемая воля
                </h3>
                <p class="talent_text">
                    Увеличивает силу на 5,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            15 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/7.webp">
                <h3 class="orange">
                    Штурмовик
                </h3>
                <p class="talent_text">
                    Первый удар всегда выводит врага из равновесия.Наносит на 20% больше урона по 
                    врагам выведенным из равновесия. Каждое попадание по выведенному из равновесия противнику 
                    добавляет еще один счетчик ошеломления.Бонусный урон увеличивается до 40% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/8.webp">
                <h3 class="orange">
                    Первооснова
                </h3>
                <p class="talent_text">
                    Наносите на 40% больше урона врагам выведенным из равновесия. Каждое попадание 
                    по выведенному из равновесия противнику добавляет еще один счетчик выведения из равновесия. 
                    Бонусный урон увеличивается до 60% против врагов, на которых наложено 
                    более одного эффекта выведения из равновесия.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/9.webp">
                <h3 class="orange">
                    Возросшая сила
                </h3>
                <p class="talent_text">
                    Увеличивает общий уровень силы на 7,5%. 
                    Этот показатель рассчитывается до применения других усилений.
                </p>
            </div>
        </div>
        <h1 class="orange">
            20 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/10.webp">
                <h3 class="orange">
                    Крестовый поход
                </h3>
                <p class="talent_text">
                    Каждый стак "Огненной веры" также увеличивает скорость передвижения на 5,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/11.webp">
                <h3 class="orange">
                    Святая стойкость
                </h3>
                <p class="talent_text">
                    Каждый стак "Огненной веры" также увеличивает получаемое исцеление на 15,0%.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/12.webp">
                <h3 class="orange">
                    Броня веры
                </h3>
                <p class="talent_text">
                    Каждый стак "Огненной веры" также снижает получаемый урон на 5,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            25 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/13.webp">
                <h3 class="orange">
                    Устремленность
                </h3>
                <p class="talent_text">
                    Получение урона увеличивает скорость передвижения на 30,0% на 2 секунды. Получение атаки больше не замедляет скорость передвижения.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/14.webp">
                <h3 class="orange">
                    Искупление кровью
                </h3>
                <p class="talent_text">
                    Получение урона восстанавливает выносливость до полного уровня.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/15.webp">
                <h3 class="orange">
                    Закаленный снаружи и внутри
                </h3>
                <p class="talent_text">
                    Получаемый урон снижается на 10,0%.
                </p>
            </div>
        </div>
        <h1 class="orange">
            30 уровень
        </h1>
        <div class="lvl">
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/16.webp">
                <h3 class="orange">
                    Шквал веры
                </h3>
                <p class="talent_text">
                    Атаки во время Священного пыла увеличивают силу на 2,0% на 5 секунд. Стакается до 10 раз.
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/17.webp">
                <h3 class="orange">
                    Ничего не чувствовать
                </h3>
                <p class="talent_text">
                    Здоровье не может быть уменьшено ниже 1 в течение всего времени действия заклинания "Святой пыл".
                </p>
            </div>
            <div class="talent">
                <img src="static/img/Victor Saltzpyre/zealot/talents/18.webp">
                <h3 class="orange">
                    Рвение флагелланта
                </h3>
                <p class="talent_text">
                    Каждое попадание во время действия "Священного пыла" дает стак до 10. Каждый стак уменьшает время пролонгации "Священного пыла" на 5,0%, когда бафф исчезает.
                </p>
            </div>
        </div>
    </div>
</div>